@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Tangerine:wght@700&display=swap");
/* body{
    background-color: blue;
} */
.title2 {
  font-family: "Tangerine", cursive;
  color: black;
  font-size: 50px;
  font-weight: lighter;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.info {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-family: "Lato", sans-serif;
}

.box {
  box-sizing: content-box;
  width: 1100px;
  height: 1380px;
  padding: 10px;
  border: 1px solid grey;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.info P {
  color: gray;
}

.nav2 ul {
  list-style: none;
  text-align: center;
  justify-content: center;
}
.nav2 li {
  display: inline-block;
  padding: 40px 7px;
  text-align: center;
}
.nav2 a {
  text-decoration: none;
  color: gray;
  font-family: "Lato", sans-serif;
}

.slash3 {
  height: 0.5px;
  width: 100px;
  background: black;
  position: absolute;
  margin: auto;
  left: 240px;
  top: 400px;
  transform: rotate(-180deg);
}

.slash4 {
  height: 0.5px;
  width: 100px;
  background: black;
  position: absolute;
  margin: auto;
  left: 940px;
  top: 400px;
  transform: rotate(-180deg);
}
.image {
  padding: 3px 3px 2px 3px;
  border: 0.5px solid #bfbfbf;
  background-color: white;
  box-shadow: 2px 2px 2px gray;
  width: 300px;
  height: 200px;
}

.paragraph-1 {
  font-size: 25px;
}

.body {
  display: flex;
  margin-right: 150px;
  margin-left: 150px;
}

.my-skills, .tools-technologies{
  font-family: 'Lato', cursive;
  color: gray;
  
}

.my-skills, .tools-technologies, h3{
  font-weight: 200;
  letter-spacing: 0.5px;
}
.my-education{
  margin-right: 150px;
  margin-left: 150px;
  line-height: 20px;
}

.image {
  margin-top: 30px;
}
.information {
  padding-left: 30px;
  width: 100%;
}

ul {
  list-style: none;

  color: black;
}

.ft-social-list {
  display: flex;
  padding-top: 2rem;
  justify-content: space-evenly;
}

hr {
  width: 850px;
}
.ft-social-list li a {
  color: black;
  padding: 5px;
}

.ft-legal-list li {
  color: gray;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.2px;
  padding-top: 2rem;
}

.ft-social {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.l-portfolio {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.l-portfolio h1 {
  font-family: "Lato", cursive;
  letter-spacing: 1px;
  font-size: 40px;
}
.l-portfolio p {
  text-align: center;
}
.l-portfolio h5 {
  font-size: 17px;
  margin: auto;
  width: 670px;
  color: grey;
}

.hr-2 {
  width: 650px;
  border: 1px solid grey;
}

.mtalii-logo {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
.mtalii-logo h2 {
  font-family: "Lato", cursive;
  letter-spacing: 1px;
  color: gray;
  font-weight: 800;
}

.box-2 {
  box-sizing: content-box;
  width: 1100px;
  height: 3250px;
  padding: 10px;
  border: 1px solid grey;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}
.champion-logo {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.champion-logo h2 {
  font-family: "Lato", cursive;
  letter-spacing: 1px;
  color: gray;
  font-weight: 800;
}

.champion-web {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.champion-web h2 {
  font-family: "Lato", cursive;
  letter-spacing: 1px;
  color: gray;
  font-weight: 800;
}

.mtalii-web {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.mtalii-web h2 {
  font-family: "Lato", cursive;
  letter-spacing: 1px;
  color: gray;
  font-weight: 800;
}

.more-work {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.more-work a {
  text-decoration: none;
  color: gray;
}

.blog-pg1,
.date {
  justify-content: center;
  text-align: center;
}

.blog-body {
  margin: auto;
  margin-right: 250px;
  margin-left: 250px;
  line-height: 30px;
}

.blog-pg1 {
  font-size: 30px;
  font-family: "Lato", cursive;
  letter-spacing: 1px;
  font-weight: 300;
}

.conclusion-pg1 h3 {
  font-size: 30px;
  font-family: "Lato", cursive;
  letter-spacing: 1px;
  font-weight: 300;
  justify-content: center;
  text-align: center;
}

.date {
  font-style: italic;
  color: gray;
}

.box-3 {
  box-sizing: content-box;
  width: 1100px;
  height: 1230px;
  padding: 10px;
  border: 1px solid grey;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.blog-pg2 {
  font-size: 28px;
  font-family: "Lato", cursive;
  letter-spacing: 1px;
  font-weight: 300;
  justify-content: center;
  text-align: center;
}

.find-me {
  font-size: 30px;
  font-family: "Lato", cursive;
}

.find-me p {
  font-weight: 300;
}

.description {
  text-align: center;
  justify-content: center;
}
